@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";

body {
  background: #FFFFFF;
  width: 100%;
  font-family: "inter", Inter-Regular;
  font-weight: 400;
  font-size: $regular;
  line-height: $line-height;
  color: $gray-blue;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

h1,
h2,
h3 {
  font-family: ("montserrat", montserrat-semibold);
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: $line-height;
  color: $blue;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: $extraLarge;
}

h3 {
  font-size: $large;
}

.button {
  padding: 16px 32px;
  background: $navy-blue;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  font-family: ("inter", Inter-Medium);
  font-weight: 500;
  font-size: $medium;
  line-height: 19px;
  color: $white;

  &:hover {
    opacity: 0.7;
  }
}

.conteiner {
  padding: 80px 0;
}

@include respond-to(md) {
  h1 {
    font-size: $fs-title;
  }

  h2 {
    font-size: $large;
  }

  h3 {
    font-size: $regular;
  }

  p {
    font-size: $medium;
  }

  .button {
    padding: 8px 16px;
  }

  .conteiner {
    padding: 10px 0;
  }
}


// HEADER
.header {
  background: $white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    .nav__title {
      font-family: "montserrat", montserrat-semibold;
      font-weight: 600;
      font-size: $fs-title;
      line-height: 39px;
      color: $blue;

      &:hover {
        opacity: 0.7;
      }
    }

    .nav__list {
      display: flex;

      .nav__item {
        padding: 0 16px;
        color: $light-blue;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .nav__btn {
      padding: 14px 16px;
    }
  }

  // @media header
  @include respond-to(sm) {

    .nav {
      height: 50px;

      .nav__title {
        z-index: 15;
      }

      .header__menu {
        &.mobileMenu-visible {
          .nav__burger {

            &::before,
            &::after {
              background-color: $white;
            }

            &::before {
              transform: rotate(45deg);
              top: 9px;
            }

            &::after {
              transform: rotate(-45deg);
              bottom: 9px;
            }

            span {
              transform: scale(0);
            }
          }

          .nav__menu {
            top: 0;
          }

        }


        .nav__burger {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 20px;
          z-index: 15;

          &::before,
          &::after {
            content: "";
            background-color: $blue;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: $transition;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }

          span {
            position: absolute;
            background-color: $blue;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
          }
        }

        .nav__menu {
          position: fixed;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $navy-blue;
          z-index: 10;
          padding-top: 50px;
          transition: $transition;

          .nav__list {
            display: block;
            text-align: right;

            .nav__item {
              padding-top: 30px;

              .nav__item-link {
                color: #FFFFFF;
                font-size: 30px;
              }

            }
          }
        }
      }

      .nav__btn {
        display: none;
      }
    }
  }
}

//MAIN
main {
  .first {
    .beauty {
      display: flex;
      justify-content: space-between;
      align-items: center;


      .beauty__text {
        max-width: 50%;

        p {
          max-width: 485px;
          margin: 24px 0 48px;
        }
      }

      .beauty__img {
        display: flex;
        max-width: 588px;

        .beauty__img__item {

          &:nth-child(2) {
            margin: 14.5% 4% 0;
          }
        }
      }
    }

    // @media main first
    @include respond-to(md) {
      .beauty {
        flex-direction: column-reverse;

        .beauty__text {
          margin: 0 auto;
          max-width: 100%;
          text-align: center;

          p {
            font-size: $medium;
            max-width: 100%;
          }
        }

        .beauty__img {
          margin: 0 auto;


        }
      }
    }
  }

  .second {
    .hotel {
      display: flex;
      align-items: center;

      .hotel__img {
        margin-right: 126px;
        max-width: 40%;
      }

      .hotel__text {
        max-width: 60%;

        h2 {
          margin-bottom: 24px;
        }

        p {
          max-width: 584px;
          margin-bottom: 16px;

          &:nth-child(3) {
            margin-bottom: 48px;
          }
        }

        .hotel__btn {
          margin-top: 48px;
        }
      }
    }

    // @media main second
    @include respond-to(md) {

      .hotel {
        .hotel__img {
          margin-right: 15px;
        }
      }
    }

    @include respond-to(sm) {

      .hotel {
        flex-direction: column;

        .hotel__img {
          margin: 0;
          max-width: 100%;
        }

        .hotel__text {
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }

  .the_third {
    .events{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      .events__text{
        max-width: 50%;

        h2{
          margin-bottom: 24px;
        }
      }
      @include respond-to(sm){
        flex-direction: column-reverse;
        text-align: center;
        
        .events__text{
           max-width: 100%;
        }
      }
    }

    .food{
      display: flex;
      align-items: center;

      .food__img{
        margin-right: 126px;
      }

      .food__text{
        max-width: 50%;
        h2{
          margin-bottom: 24px;
        }
      }

      @include respond-to(md){
        .food__img{
          margin-right: 15px;
        }
      }
      @include respond-to(sm){
        flex-direction: column;
        text-align: center;
        
        .food__img{
          margin: 0;
        }

        .food__text{
          max-width: 100%;
        }
      }
    }
  }

  .reservation{
    display: flex;

    .reservation__text{
      max-width: 50%;
      margin: 0 auto;
      text-align: center;

      h2{
        margin-bottom: 24px;
      }

      p{
        margin-bottom: 48px;
      }
    }

    .reservation__card{
      display: flex;
      justify-content: space-between;
      margin-top: 104px;

      .card{
        max-width: 32%;
        
        h3{
          color: $black;
          margin-top: 32px;
        }

        p{
          margin-top: 16px;
        }
        .card__link{
          margin-top: 32px;
          display: flex;
          flex-direction: row;
          align-items: center;
          a{
            color: $light-blue;
            margin-right: 14px;
            &:hover{
              color: $blue;
            }
          }
          
          .arow{
            span{
              position: absolute;
              height: 2px;
              width: 17px;
              background-color:$light-blue;
              z-index: 100; 
              
              &::before, &::after{
                content: "";
                position: absolute;
                height: 2px;
                width: 9px;
                background-color:$light-blue;
                z-index: 100; 
              }
              
              &::before{
                transform: rotate(45deg);
                right: 0;
                bottom: 4px;
              }

              &::after{
                transform: rotate(-45deg);
                right: 0;
                top: 4px;
              }
            }
          }
        }
      }
    }
  
    @include respond-to(md){

      .reservation__text{
        margin-top: 60px;
        max-width: 100%;
      }
     
      .reservation__card{
        margin-top: 50px;
      }
    }
    
    @include respond-to(sm){

      .reservation__card{
        flex-direction: column;
        
        
        .card{
          max-width: 100%;
          text-align: center;
          margin-top: 40px;

          .card__link{
            margin-top: 10px;
          }
        }
      }
    }
  }

  .room{
    .info__features{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      .room__info{
        max-width: 50%;
        
        .start{
          font-weight: 500;
          font-size: $medium;
          margin-bottom: 12px;
          color: $light-blue;
        }
        
        h2{
          margin-bottom: 24px;
        }

        p{
          margin-bottom: 46px;
          padding-right: 207px;
        }

        .info{
          color: $navy-blue;
          font-size: $medium;
          font-weight: 500;
          
          a{
            padding: 16px 32px;
            &:hover{
              background-color: $navy-blue;
              color: $white;
              padding: 16px 32px;
              border-radius: $borderRadius;
              box-shadow: $boxShadow;
            }
          }
        }
      }

      .features {
        width: 50%;
      
        .acardion {
          background-color: $white;
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          border-radius: $borderRadius;
          margin-bottom: 24px;
          padding: 32px 36px;
      
          .acardion__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
      
            .control {
              position: relative;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $rosybrown;
              cursor: pointer;

              span {
                position: absolute;
      
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  background-color: $orangered;
                  height: 3px;
                  width: 12px;
                  top: 19px;

                  z-index: 10;
                }
      
                &::before {
                  transform: rotate(45deg);
                  left: 10px;
      
                }
      
                &::after {
                  transform: rotate(-45deg);
                  left: 17px;
                }
              }
            }
          }
      
          .activ_control {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $orangered;
            cursor: pointer;
      
            span {
              position: absolute;
      
              &::before,
              &::after {
                content: "";
                position: absolute;
                background-color: $white;
                height: 3px;
                width: 12px;
                top: 17px;
                z-index: 10;
              }
      
              &::before {
                transform: rotate(45deg);
                left: 17px;
      
              }
      
              &::after {
                transform: rotate(-45deg);
                left: 10px;
              }
            }
          }
      
          .acardion__title {
            color: $light-blue;
          }
      
          .acardion__body {
            margin-top: 24px;
            display: none;
          }
      
        }
      }
      
    }
    @include respond-to(sm){
      .info__features{
        flex-direction: column;

        .room__info{
          max-width: 100%;
          text-align: center;
          p{
            padding-right: 0;
          }
          .info{
            display: flex;
            flex-direction: column;
            a{
              max-width: 210px;
              margin: 0 auto;
              &:hover{
                padding: 8px;
              }
            }
          }
        }

        .features{
          padding-top: 30px;
          width: 100%;

          .acardion{
            padding: 10px;
            h3{
              max-width: 80%;
            }
          }
        }
      }
    }
  }

}
  
               
         
  
           
 